/* TODO Add site wide styles */
body {
  margin: 0;
  color: #66fcf1;
  font-family: "Roboto";
  /* background-image: url(./images/forrest.png); */
  /* background-size: 150%; */
  /* background-position: center; */
  background-color: rgb(146, 106, 232);
}



button {
  cursor: pointer;
}

.p-error {
  color: red;
  margin: 0;
}