.form-div {
    padding: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #0b0c10;
    border-radius: 8px;
    border: 2px solid #45a29e;
    margin: auto; 
}

.occult-form {
    display: flex;
    flex-direction: column;
    width: 100%; 
	height: 400px;
	overflow: scroll;
}

.form-input, .submit-btn {
    width: 100%; 
    padding: 12px;
    margin-bottom: 5px;
	margin-top: 5px;
    background-color: #1f2833;
    border: 1px solid #45a29e;
    color: #66fcf1;
    border-radius: 5px;
    box-sizing: border-box; 
}

label {
    color: #66fcf1;
    margin-bottom: 5px;
	font-size: 12px;
    font-weight: bold;
}


.submit-btn {
    background-color: #0b0c10;
    color: #66fcf1;
    cursor: pointer;
	border: 1px solid #45a29e;
	margin-top: 15px;
}

.submit-btn:hover {
    background-color: red;
    color: #0b0c10;
    border: none;
    /* transition: background-color 0.3s ease, color 0.3s ease; */
}

.error-message {
    color: #FF5555; 
    margin-top: 5px;
    font-size: 14px; 
    width: 100%;
    text-align: left; 
}


textarea.form-input {
    height: 75px;
    resize: none; 
}
