.main-team-div {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
}

.team-div {
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;

}

.team-individual-div {
	padding: 10px 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-left: 5px;
	margin-right: 5px;
	background-color: #1b1e27;
	border-radius: 8px;
	height: 250px;
	width: 200px;
}

.team-individual-div > img {
	background-color: #0b0c10;
	height: 100px;
	width: 100px;
	border-radius: 50%;
}

.team-individual-div > p {
	margin-top: -10px;
}


@media (max-width: 500px) {
	.team-div {
		display: flex;
		flex-direction: column;
	}
	.team-individual-div {
		margin: 10px;
	}
}